[submodule "calculator"]
	path = calculator
	url = https://github.com/armin11991/calculator
[submodule "sunset-theme-website"]
	path = sunset-theme-website
	url = https://github.com/armin11991/sunset-theme-website
